* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.header-dashboard {
  padding: 12px 120px;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  width: 100%;
  height: 100%;
  font-family: DMSans;
  font-weight: 500;
  font-family: 16px;
}
.container-dashboard {
  background-color: #fffdf3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 64px 120px;
  gap: 64px;
}
.banner {
  background: url(../assets/banner.jpg);
  background-position: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 82px 140px 64px 140px;
  gap: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner > h1 {
  font-weight: 700;
  font-size: 48;
  line-height: 110.00000000000001%;
  text-align: center;
}
.banner > p {
  font-family: DMSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.daftar-banner {
  padding: 10px 26px;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #3ecf4c;
  text-align: center;
  cursor: pointer;
  font-family: DMSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-tittle > h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #222325;
}
.content-tittle > p {
  font-family: DMSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2%;
  color: #333333ad;
}
.menu-content {
  display: flex;
}
.fiture {
  padding: 12px 36px 12px 0px;
  gap: 6px;
  font-family: DMSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2%;
  color: #333333ad;
}
.active {
  color: #f64920;
}
.active > hr {
  width: 52px;
  height: 6px;
  border-radius: 10px;
  background-color: #f64920;
}
.card {
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 100%;
  border: 1px solid #3a35411f;
  border-radius: 10px;
  padding: 20px;
  gap: 16px;
}
.card > img {
  width: 100%;
  height: 193px;
}
.description {
  width: 100%;
  height: 100%;
  gap: 8px;
}
.description > h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #222325;
}
.description > p {
  font-family: DMSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2%;
  color: #333333ad;
}
.account {
  display: flex;
  gap: 10px;
}
.account > img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.id {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.id-name {
  font-family: DMSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2%;
  color: #222325;
}
.id-status {
  font-family: DMSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2%;
  color: #333333ad;
}
.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rating-star {
  display: flex;
  width: 100%;
  gap: 8px;
}
.star {
  display: flex;
  width: 18px;
  height: 18px;
}
.review {
  width: 100%;
}
.price {
  width: 100%;
  text-align: end;
}
