@import url(font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins"; /
}

.header-log {
  padding: 12px 120px;
  height: 100%;
  border: 1px solid #f1f1f1;
}
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 120px;
  height: 100%;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 100%;
  padding: 36px;
  gap: 36px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

.log-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 32px;
}

.log-description > p {
  font-weight: 400;
  font-size: 16px;
}

.log-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.log-id {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.show-password {
  position: relative;
}

.log-id > p {
  text-align: right;
}

.required {
  color: red;
}

.input-id {
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 16px;
}
.button-eye {
position: absolute;
right: 10px;
bottom: 0;
border: none;
outline: none;
background-color: transparent;
}

.open-eye {
  height: 19px;
  font-size: 19px;

}

.log-atau {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.log-atau > hr {
  width: 40%;
  border: 1px solid #f1f1f1;
}

.masuk {
  width: 518px;
  height: 100%;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #3ecf4c;
  padding: 10px 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.daftar {
  width: 518px;
  height: 100%;
  color: limegreen;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #E2FCD9CC;
  padding: 10px 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.masuk-dengan-google {
  width: 518px;
  height: 42px;
  border: 1px solid #F1F1F1;
  outline: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px 100px;
  text-align: center;
  cursor: pointer;
  font-family: DMSans;
  font-size: 16px;
  font-weight: 700;
  color: #333333AD;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo-google {
width: auto;
height: 20px;
}
